server:
  port: 8080

spring:
  application:
    name: config-server
  profiles:
    active: git
  cloud:
    config:
      server:
        git:
          uri: https://github.com/sanskar-alp/config-repo
    azure:
      keyvault:
        secret:
          endpoint: https://poc-spring-config-kv.vault.azure.net/
          enabled: true
      credential:
        client-id: ${AZURE_CLIENT_ID}
        client-secret: ${AZURE_CLIENT_SECRET}
        tenant-id: ${AZURE_TENANT_ID}

logging:
  level:
    root: INFO
    org.springframework.cloud.config: DEBUG
    com.azure.identity: DEBUG
    com.azure.security.keyvault: DEBUG